body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 0;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  display: flex;
}

#addCard {
  background: none;
  border: none;
  font-size: 3vh;
  margin: 5px;
  
}

button:hover {
  transform: scale(0.99);
  box-shadow: 1px 1px 5px #888888;
  
}

.container {
  display: flex;
  max-width: 90vw;
}

#star-name {
  font-size: 3vw;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 40vw;
  height: 70vh;
  background-color: rgb(30, 30, 30);
}

.title {
  display: flex;
  width: 80%;
  height: 20vh;
  margin: 5px;
  padding: 5px;
  background-color: rgb(56, 56, 56);
  font-size: calc(15px + 0.390625vw);
  justify-content: center;
  text-align: center;
  color: white;
  border: 2px solid;
  border-color: white;
}

.desc {
  display: flex;
  width: 80%;
  height: 80vh;
  margin: 5px;
  padding: 5px;
  background-color: rgb(56, 56, 56);
  color: white;
  border: 2px solid;
  border-color: white;
  overflow-y: auto;
}
.text {
  display: flex;
  margin-left: 10px;
  font-size: calc(15px + 0.390625vw);
  width: 90%;
  
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 60vw;
  height: 70vh;
  background-color: rgb(30, 30, 30);
}

.row {
  display: flex;
  width: 100%;
  height: 85px;  
  background-color: rgb(56, 56, 56);
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;
  background-color: green;  
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 100px;
  background-color: white;
}

#bank {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  height: 300px;
  background-color: rgb(30, 30, 30);
  margin-bottom: 20px;
}
#image-slot {
  display: block;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  background-color: rgb(30, 30, 30);
}

#myForm {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  color: white;
}

#bib {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.form-container {
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70vw;
  height: 70vh;
  max-width: 80vw;
  background-color: #f1f1f1;
  border-radius: 15px;
  border: solid black 5px
}

.container-frame {
  width: 100%;
  display: grid;
  place-items: center;
}
.form-in-cont {
  width:80%;
  border: 2px solid;
  border-color: gray;
  font-size: 3vh;
  padding-bottom: 3vh;
}

.bib-btn {
  background-color: lightgrey;
  color: Black;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  left: 3vw;
  width: 12vw;
}

.bib-popup {
  display: none;
  bottom: 0;
  border: 3px solid #f1f1f1;
  z-index: 9; 
  background-color: rgb(30,30,30,0.5);
}
.bib-in {

}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.close-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    border-radius: 10px;
}
.form-in-cont {
  background-color: #555;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  bottom: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.footer {
  display: inline-block;
  text-align: center;
  font-size: calc(8px + 0.390625vw);;
  max-width: 20vw;
}